/**************
RESET
**************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/**************
LAYOUT
**************/

body {
  background: #fafafa;
  display: grid;
  grid-template-rows: 300px auto;
  font-family: "Commissioner", sans-serif;
}

.computer-bg {
  background: url("/images/image-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-row: 1/2;
  grid-column: 1/-1;
}

.main-container {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 87%;
  margin: 0 auto;
}

/**************
HEADER
**************/

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 11em;

  nav {
    width: 100%;
    display: none;
  }
  ul {
    list-style: none;
    background: white;
  }
}

/**************
INFO SECTION
**************/

.info-section {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1.5em 3em 1.5em;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
  margin-bottom: 2em;

  .logo-mastercraft {
    margin-top: -1.8em;
    margin-bottom: 1.5em;
  }

  .product-name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.9em;
  }

  .product-brief-description {
    font-size: 0.875rem;
    color: #7a7a7a;
    margin-bottom: 1.5em;
  }

  .info-section-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .back-btn {
      border: none;
      background: #3cb3ab;
      font-weight: 700;
      color: #ffffff;
      border-radius: 33.5px;
      padding: 0.7em 2em;
      flex-basis: 77%;
      transition: all 0.2s;
    }

    .back-btn:hover {
      cursor: pointer;
      background: #147a73;
    }

    .back-btn:focus {
      background: #147a73;
    }

    .bookmark-btn {
      border: none;
      background: none;
      width: 56px;
      height: 56px;
    }

    .bookmark-btn:focus circle {
      fill: #707070;
    }
  }
}

/**************
PROGRESS SECTION
**************/

.progress-section {
  background: #ffffff;
  border-radius: 8px;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
  text-align: center;
  padding: 2em 0;
  margin-bottom: 2em;

  .total-money-backed,
  .total-backers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.3em;
  }

  .total-money,
  .number-of-backers,
  .number-days-left {
    font-weight: 700;
    font-size: 2rem;
  }

  .target-amount,
  .total-backers-text,
  .days-left-text {
    font-size: 0.875rem;
    color: #7a7a7a;
  }

  .divider {
    width: 80px;
    height: 1px;
    opacity: 0.15;
    background: #000000;
    margin-top: 1.3em;
  }
}

/**************
PLEDGES SECTION
**************/

.pledges-section {
  padding: 2em 1.5em;
  background: #ffffff;
  border-radius: 8px;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
  margin-bottom: 2em;

  .about-project {
    margin-bottom: 1.5em;

    .about-project-title {
      font-size: 1.125rem;
      margin-bottom: 1em;
    }

    .about-project-paragraph {
      font-size: 0.875rem;
      color: #7a7a7a;
    }
  }

  .pledge {
    border-radius: 8px;
    outline: 1px solid rgba(0, 0, 0, 0.15);
    outline-offset: -1px;
    padding: 1.5em;
    margin-bottom: 1.8em;

    &:last-child {
      margin: 0;
    }

    .pledge-name {
      font-weight: 700;
      font-size: 0.875rem;
    }

    .pledge-amount {
      color: #3cb3ab;
      font-size: 0.875rem;
      font-weight: 500;
    }

    .pledge-perks {
      margin-top: 2em;
      margin-bottom: 1.5em;
      font-size: 0.875rem;
      color: #7a7a7a;
      line-height: 24px;
      text-justify: newspaper;
    }

    .number-of-pledges-left {
      font-size: 0.9rem;
      color: #7a7a7a;
      margin-bottom: 1em;

      .number {
        font-size: 2rem;
        color: #000000;
        font-weight: 700;
      }
    }

    .select-pledge-btn {
      border: none;
      background: #3cb3ab;
      font-weight: 700;
      font-size: 0.875rem;
      color: #ffffff;
      border-radius: 33.5px;
      padding: 1em 2em;
      text-transform: capitalize;
      transition: all 0.2s;
    }

    .select-pledge-btn:hover {
      cursor: pointer;
      background: #147a73;
    }

    .select-pledge-btn:focus {
      background: #147a73;
    }
  }
}

/**************
MODAL
**************/
.modal {
  grid-column: 1/2;
  grid-row: 1/-1;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  z-index: 1000;

  .modal-content {
    background-color: white;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    width: 327px;
    margin-top: 121px;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;

      .modal-title {
        font-size: 1.125rem;
        font-weight: 700;
      }
    }

    .modal-question {
      font-size: 0.875rem;
      color: #7a7a7a;
      line-height: 24px;
      text-justify: newspaper;
      margin-bottom: 2em;
    }

    .pledge {
      border-radius: 8px;
      outline: 1px solid rgba(0, 0, 0, 0.15);
      outline-offset: -1px;
      padding: 1.5em 0;
      margin-bottom: 1.8em;
      cursor: pointer;

      .pledge-container {
        padding: 0 1.5em;
      }

      .pledge-header {
        display: flex;
        gap: 1em;
        align-items: center;

        .pledge-name-and-amount {
          order: 2;
        }

        .radio-button {
          width: 24px;
          height: 24px;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 50%;
          order: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .selected-radio {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #3cb3ab;
        }
      }

      &:last-child {
        margin: 0;
      }

      .pledge-name {
        font-weight: 700;
        font-size: 0.875rem;
      }

      .pledge-amount {
        color: #3cb3ab;
        font-size: 0.875rem;
        font-weight: 500;
      }

      .pledge-perks {
        margin-top: 2em;
        margin-bottom: 1.5em;
        font-size: 0.875rem;
        color: #7a7a7a;
        line-height: 24px;
        text-justify: newspaper;
      }

      .number-of-pledges-left {
        font-size: 0.9rem;
        color: #7a7a7a;
        margin-bottom: 1em;

        .number {
          font-size: 1.125rem;
          color: #000000;
          font-weight: 700;
          margin-right: 0.2em;
        }
      }

      .enter-pledge {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        text-align: center;
        padding-top: 1.5em;

        .enter-your-pledge {
          font-size: 0.875rem;
          color: #7a7a7a;
        }

        .form-and-button {
          display: flex;
          justify-content: space-between;
          margin-top: 1em;
        }

        .money-form {
          width: 45%;
          display: flex;
          align-items: center;
          gap: 0.5em;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 33.5px;

          .pledge-input {
            width: 100%;
            border: none;
            width: 50%;
            font-weight: 700;
            font-size: 0.875rem;
          }

          .pledge-input:focus {
            outline: none;
          }

          .dollar-sign {
            font-size: 0.875rem;
            font-weight: 700;
            opacity: 15%;
            margin-left: 1.5em;
          }
        }

        .continue-btn {
          border: none;
          background: #3cb3ab;
          font-size: 0.875rem;
          font-weight: 700;
          color: #ffffff;
          border-radius: 33.5px;
          padding: 1em 0;
          width: 50%;
          cursor: pointer;
          transition: all 0.2s;
        }

        .continue-btn:hover {
          cursor: pointer;
          background: #147a73;
        }

        .continue-btn:focus {
          background: #147a73;
        }
      }
    }
  }
}

/**************
THANKS MODAL
**************/

.thanks-modal {
  .modal-content {
    text-align: center;
    padding: 2em 1.5em;

    .thanks-modal-title {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.125rem;
    }

    .thanks-modal-message {
      font-size: 0.875rem;
      line-height: 24px;
      color: #7a7a7a;
      margin-bottom: 2em;
    }

    .got-it-btn {
      border: none;
      background: #3cb3ab;
      font-size: 0.875rem;
      font-weight: 700;
      color: #ffffff;
      border-radius: 33.5px;
      padding: 1em 2.5em;
      cursor: pointer;
      transition: all 0.2s;
    }

    .got-it-btn:hover {
      cursor: pointer;
      background: #147a73;
    }

    .got-it-btn:focus {
      background: #147a73;
    }
  }
}
